body {
  /* margin-left: 10em; */
  font-family: sans-serif;
  margin: auto;
  /* background-image: url('https://fsxaibureau.com/wp-content/uploads/2017/11/7672Large.png'); */
  /* background-image: url("double.png"); */
  background-image: url("background.png");
  background-repeat: repeat-y;
  background-size: 100% auto;
  /* background-size: 80% auto; */
  background-position: center;
  /* background-color: #f8f5f5; */
  /* padding: 5%; */
    /* display: flex;
  flex-direction: column; */
  max-width: 80%;
  justify-content: center;
  cursor: url('https://upload.wikimedia.org/wikipedia/commons/9/9b/Silhouette_An-124.svg');
}

p{
  color: black;
   /* background-color: #f8f5f5; */
  /* padding: 2px;  */
  cursor: url('https://upload.wikimedia.org/wikipedia/commons/9/9b/Silhouette_An-124.svg');
}

h1{
  /* background: #f8f5f5; */
  color: #f8f5f5; 
   background-color: #ffb9b9;
   cursor: url('https://upload.wikimedia.org/wikipedia/commons/9/9b/Silhouette_An-124.svg');
}

ul{
  color: black;
  cursor: url('https://upload.wikimedia.org/wikipedia/commons/9/9b/Silhouette_An-124.svg');
  /* padding: 2px;  */
}

img{
  max-width: 80%;
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  font-family: sans-serif;
  background-color: #ffb9b9;
  width: 80%;
  margin: 2%;
}

table tr:nth-child(even){
  background-color: #f8f5f5;
  }

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff7a7a;
  color: #f8f5f5;
}

.navbar {
  /* background-color: #f8f5f5; */
  background-color: #ffb9b9;
  /* background-image: url("background.png"); */
  overflow: hidden;
  /* border-radius: 2px; */
  width: 100%;
}

.navbar a {
  float: left;
  background-color: #ffb9b9;
  color: #f8f5f5;
  /* display: inline-block; */
  text-align: center;
  /* font-size: 15px; */
  /* padding: 10px;
  padding-top: 12px;
  padding-bottom: 12px; */
   padding: 14px 16px;
  text-decoration: none;
  /* border-color:  #f8f5f5; */
  /* border-left: 5px #f8f5f5; */
  /* border-radius: 7; */
  /* border-left: 7; */
}

.navbar a:hover {
  background-color: #ff6262;
  /* color: #f8f5f5; */
}


.navbar a.active {
  background-color: #d10617;
  /* color: #f8f5f5; */
}

.footer{
  background-color: #d10617;
  color: #f8f5f5; 
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.memePics{
  max-width: 100%;
  max-height: 800% ;
  height: auto; 
  padding: 5px;
  border-style: hidden;
  border-width: medium;
}
/* .sitePic{
  height: 10px;
  
} */
 .video{
  max-width: 100%;
  /* width: 100%;
  height: auto; */
  width: 1012px ;
  height: 569px ;
} 
/* .pilotPic{
  max-height:500px;
  max-width: 100%;
  width: 100%;
} */
#meme-flex-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* background-color: #f8f5f5; */
  justify-content: left;
  flex: 1;
}

.pilot-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex: 1;
}

#video-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}


